.Feedlist {
  //margin-top: 3.25rem;
}
#bnavbar {
  height: 3.25rem;
}

#Backtop {
  position: fixed;
  color: teal;
  font-size: 4rem;
  bottom: 0;
  right:0;
  text-shadow: 0 0 5px black;
  cursor: pointer;
}
.Hidden{
  display:none;
}
a:hover, a:active, a:focus{
  outline-style: none;
}
